*{

    color: #020538;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: rgba(215, 219, 249, 0.443) !important;
    scroll-behavior: smooth;
}
.navbar-cart{
    background-color: rgb(215, 219, 249) !important;

}
#top-section{
    background-color: #c3c3ff38;
    height: 89vh !important;
    margin-top: 70px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
#about-section{
    height: 70vh !important;
}
#skills-section{
    height: 70vh !important;
}
#projects-section{
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
#education-section{
    height: 70vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
}
.about-me-cart{
    padding: 20px;
    width: 300px !important;
    height: 100px !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c3c3ff38;
    margin-bottom: 20px;
}
.skill-cart{
    padding: 20px;
    width: 300px !important;
    height: 100px !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c3c3ff38;
    margin-bottom: 20px;
}
.contact-cart{
    background-color: #c3c3ff38;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Desktop and Tablet Styles */
@media (min-width: 768px) {
    #top-section, #about-section, #skills-section, #projects-section, #education-section, #contact-section {
        height: auto;
        padding: 20px;
    }
    #top-section{
        height: 90vh;
    }

  .project-description{
        font-size: 16px !important;
    }
    .project-cart-container{
        width: 400px !important;
        height: 95vh !important;
    }
    .project-tech-stack-container{
        font-size: 14px !important;
    }
    .contact-details-container{
        height: 550px;
    }
    .skil-button{
        width: 200px !important;
        
    }
    .about-me-cart{
        width: 400px !important;
        height: 400px !important;
    }
    .skill-cart{
        width: 400px !important;
        height: 400px !important;
    }
    .education-cart{
        padding: 50px;
    }
    .social-media-cart{
        width: 240px;
    }
    .projects-cart-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    .contact-cart{
        height: 500px;
    }

/* Mobile Styles */
}@media (max-width: 767px) {
    #top-section, #about-section, #skills-section, #projects-section, #education-section, #contact-section {
        height: auto; 
        padding: 15px; 
    }
    .skil-button{
        width: 200px;
    }
    #contact-section{
        height: 80vh;
    } 
    .social-media-icon{
        width: 30px;
        height: 30px;
    }
    .social-media-cart{
        width: 150px;
    }
}

.project-cart-container{
    max-width: 430px;
    min-width: 320px;
    width: 375px;
    padding: 13px;
    border-radius: 8px;
    height: 94vh;
    padding-top: 20px;
}
.project-image{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-size: cover;
}
.project-link{
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.project-description{
    font-size: 13px;
}
.project-tech-stack-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: left;
}

.contact-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
  
}
.vertical-line{
    border-left: 1px solid rgba(128, 128, 128, 0.612);
    height: 400px;
}
.vertical-line-edu{
    border-left: 2px solid rgba(128, 128, 128, 0.612);
    height: 230px;
    margin-left: 50px;
}
.content-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*aimations*/

.social-media-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}
.project-cart-container:hover{
    transform: translateY(-10px);
    transition: transform 0.3s;
}
.btn-outline-success:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.btn-primary:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}
.about-me-cart:hover, .skill-cart:hover, .contact-cart:hover,.project-cart:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
#animated-text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  animation: drop 0.4s ease forwards;
}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
